@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0px;
  padding: 3px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.NavBar_Title {
  font-family: "Lato", sans-serif;
  letter-spacing: 3px;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.NavBar_Follow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icon {
  color: white;
  margin-bottom: -3px;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
